.bg-gray 
{
    background-color: #f8f8f8;
}
.bg-white
{
    background-color: #fff;
}
.bg-black
{
    background-color: #111111;
}
.text-white
{
    color: #fff!important;
}
.text-gray
{
    color: #ababab;
}
.inline-block
{
    display: inline-block;
}
.h-100 
{
    height: 100%;
}
.w-100
{
    width: 100%;
}
.relative 
{
    position: relative;
}
.absolute
{
    position: absolute;
}
.text-center
{
    text-align: center;
}
.mleft-10
{
   margin-left: 10px;
}
.mbotton-20
{
    margin-bottom: 20px;
}
.mbottom-56
{
    margin-bottom: 56px;
}
.mtop-60
{
    margin-top: 60px;
}
.p-left
{
    left: -30px;
}
.p-right
{
    right: -60px;
}
.list-none
{
    list-style:none; 
}
